body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #4a4a4a;
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#beer-info {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#beer-info img {
  max-width: 100%;
  border-radius: 15px;
}

#beer-info p {
  color: #555;
  font-size: 1.2rem;
  line-height: 1.6;
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 1.2rem 2.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
  
}

button:hover {
  background-color: #c0392b;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
}

a:hover {
  background-color: #2980b9;
}